<section class="gallery">
  <div id="gallery" style="visibility: hidden; height: 1px; overflow: hidden">

    {{ $publishResources := default true .Params.build.publishResources }}

    {{/* --- Loop through images --- */}}
    {{ range sort (.Resources.ByType "image") (.Params.sort_by | default "Name") (.Params.sort_order | default "asc") }}
      {{ if not .Params.hidden }}
        {{ $title := .Title }}
        {{ $thumbnail := .Filter (slice images.AutoOrient (images.Process "fit 600x600")) }}
        {{ $full := .Filter (slice images.AutoOrient (images.Process "fit 1600x1600")) }}
        {{ $color := index $thumbnail.Colors 0 | default "transparent" }}

        <a class="gallery-item"
           href="{{ if $publishResources }}{{ .RelPermalink }}{{ else }}{{ $full.RelPermalink }}{{ end }}"
           data-pswp-src="{{ $full.RelPermalink }}"
           data-pswp-width="{{ $full.Width }}"
           data-pswp-height="{{ $full.Height }}"
           data-pswp-target="{{ .Name | urlize }}"
           title="{{ $title }}"
           itemscope itemtype="https://schema.org/ImageObject"
           style="aspect-ratio: {{ $thumbnail.Width }} / {{ $thumbnail.Height }}">

          <figure style="background-color: {{ $color }}; aspect-ratio: {{ $thumbnail.Width }} / {{ $thumbnail.Height }}">
            <img class="lazyload" width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}" data-src="{{ $thumbnail.RelPermalink }}" alt="{{ $title }}" />
            {{ with .Params.credit }}
              <figcaption class="credit">{{ . }}</figcaption>
            {{ end }}
          </figure>

          <meta itemprop="contentUrl" content="{{ if $publishResources }}{{ .RelPermalink }}{{ else }}{{ $full.RelPermalink }}{{ end }}" />
          {{ with site.Params.Author }}
            <span itemprop="creator" itemtype="https://schema.org/Person" itemscope>
              <meta itemprop="name" content="{{ site.Params.Author.name }}" />
            </span>
          {{ end }}
        </a>
      {{ end }}
    {{ end }}

    {{/* --- Loop through videos --- */}}
    {{ with (partial "get-gallery.html" .).videos }}
      {{ range . }}
        {{ $thumb := .Thumb.Filter (slice images.AutoOrient (images.Process "fit 600x600")) }}
        <a class="gallery-item"
           href="{{ .VideoLink }}"
           data-pswp-type="video"
           data-pswp-target="{{ .Name | urlize }}"
           title="{{ .Title }}"
           style="aspect-ratio: {{ $thumb.Width }} / {{ $thumb.Height }}">

          <figure style="background-color: {{ index $thumb.Colors 0 | default "transparent" }}; aspect-ratio: {{ $thumb.Width }} / {{ $thumb.Height }}">
            <img class="lazyload" width="{{ $thumb.Width }}" height="{{ $thumb.Height }}" data-src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" />
            {{ with .Credit }}
              <figcaption class="credit">{{ . }}</figcaption>
            {{ end }}
          </figure>
        </a>
      {{ end }}
    {{ end }}

  </div>
</section>
