<div id="concerts-list"></div>

<script charset="utf-8" src="https://widgetv3.bandsintown.com/main.min.js"></script>
  <a class="bit-widget-initializer"

    data-artist-name="{{ .Get "artist" | default .Site.Params.bandsintown_artist }}"

    data-events-to-display=""
    data-background-color="#0a0a0a"
    data-separator-color="#606060"
    data-text-color="#fafafa"
    data-font="sans-serif"
    data-auto-style="true"

    data-button-label-capitalization="uppercase"
    data-header-capitalization="uppercase"
    data-location-capitalization="uppercase"
    data-venue-capitalization="capitalize"
    data-display-local-dates="true"
    data-local-dates-position="aboveUpcoming"
    data-display-past-dates="true"
    data-display-details="false"
    data-display-lineup="false"
    data-display-start-time="false"
    data-social-share-icon="false"
    data-display-limit="all"

    data-date-format="MMM. D YYYY"
    data-date-orientation="vertical"
    data-date-border-color="#fafafa"
    data-date-border-width="1px"
    data-date-capitalization="uppercase"
    data-date-border-radius="10px"

    data-event-ticket-cta-size="middle"
    data-event-custom-ticket-text=""
    data-event-ticket-text="TICKETS"
    data-event-ticket-icon="true"
    data-event-ticket-cta-text-color="#fafafa"
    data-event-ticket-cta-bg-color="#0a0a0a"
    data-event-ticket-cta-border-color="#fafafa"
    data-event-ticket-cta-border-width="1px"
    data-event-ticket-cta-border-radius="10px"

    data-sold-out-button-text-color="#606060"
    data-sold-out-button-background-color="#606060"
    data-sold-out-button-border-color="#606060"
    data-sold-out-button-clickable="true"

    data-event-rsvp-position="hidden"
    data-event-rsvp-cta-size="medium"
    data-event-rsvp-only-show-icon="false"
    data-event-rsvp-text="RSVP"
    data-event-rsvp-icon="false"
    data-event-rsvp-cta-text-color="#606060"
    data-event-rsvp-cta-bg-color="#fafafa"
    data-event-rsvp-cta-border-color="#606060"
    data-event-rsvp-cta-border-width="1px"
    data-event-rsvp-cta-border-radius="2px"

    data-follow-section-position="hidden"
    data-follow-section-alignment="center"
    data-follow-section-header-text="Get updates on new shows, new music, and more"
    data-follow-section-cta-size="medium"
    data-follow-section-cta-text="FOLLOW"
    data-follow-section-cta-icon="false"
    data-follow-section-cta-text-color="#fafafa"
    data-follow-section-cta-bg-color="#606060"
    data-follow-section-cta-border-color="#606060"
    data-follow-section-cta-border-width="0px"
    data-follow-section-cta-border-radius="2px"

    data-play-my-city-position="hidden"
    data-play-my-city-alignment="center"
    data-play-my-city-header-text="Don’t see a show near you?"
    data-play-my-city-cta-size="medium"
    data-play-my-city-cta-text="REQUEST A SHOW"
    data-play-my-city-cta-icon="false"
    data-play-my-city-cta-text-color="#fafafa"
    data-play-my-city-cta-bg-color="#606060"
    data-play-my-city-cta-border-color="#606060"
    data-play-my-city-cta-border-width="0px"
    data-play-my-city-cta-border-radius="2px"

    data-optin-font=""
    data-optin-text-color=""
    data-optin-bg-color=""
    data-optin-cta-text-color=""
    data-optin-cta-bg-color=""
    data-optin-cta-border-width=""
    data-optin-cta-border-radius=""
    data-optin-cta-border-color=""

    data-language="en"
    data-layout-breakpoint="900"
    data-app-id="0aa5665e98eb2c820f2b34685fb01d80"
    data-affil-code=""
    data-bit-logo-position="hidden"
    data-bit-logo-color="#606060"

    ></a>